<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/fa-all.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">

</head>
<body>

	<header>

		<div class="container mt-1">
			<div class="row justify-content-between">
				<h1 class="titulo-principal"><a href="#">Extravagancia</a></h1>
				<button class="menu" id="menu"> 🞬 </button>
				<ul class="navbar col-12 col-md-5 col-lg-4 col-xl-3">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Catálogo</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>
		</div>

	</header>

	<div class="container mt-3">

		<div class="row justify-content-between">

			<div class="sidebar col-lg-3">
			
				<div class="titulo-sidebar"><a href="#">Productos</a></div>
				<button class="menu-sidebar" id="menu-sidebar"> 🞬 </button>
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="#">Categoría 1 (23)</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Categoría 2 (11)</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Categoría 3 (42)</a></li>
				</ul>
			
			</div>

			<div class="col-lg-9 mt-3">
				
				<p style="font-weight: bold; padding: 0;">Actualmente estás viendo $category</p>

				<div class="row">
					
					<div class="box-productos col-lg-3">
						<a href="#">
							<img class="foto-box-productos" src="img/alfombra.jpg" alt="">
							<p class="titulo-box-productos">Producto 1</p>
						</a>
					</div>

					<div class="box-productos col-lg-3">
						<a href="#">
							<img class="foto-box-productos" src="img/alfombra.jpg" alt="">
							<p class="titulo-box-productos">Producto 1</p>
						</a>
					</div>

					<div class="box-productos col-lg-3">
						<a href="#">
							<img class="foto-box-productos" src="img/alfombra.jpg" alt="">
							<p class="titulo-box-productos">Producto 1</p>
						</a>
					</div>

					<div class="box-productos col-lg-3">
						<a href="#">
							<img class="foto-box-productos" src="img/alfombra.jpg" alt="">
							<p class="titulo-box-productos">Producto 1</p>
						</a>
					</div>

					<div class="box-productos col-lg-3">
						<a href="#">
							<img class="foto-box-productos" src="img/alfombra.jpg" alt="">
							<p class="titulo-box-productos">Producto 1</p>
						</a>
					</div>

					<div class="box-productos col-lg-3">
						<a href="#">
							<img class="foto-box-productos" src="img/alfombra.jpg" alt="">
							<p class="titulo-box-productos">Producto 1</p>
						</a>
					</div>

				</div>

			</div>
			
		</div>

	</div>

	<footer class="col-12">

		<div class="row footer">
			<div class="col-12 col-lg-4"><i class="ico-footer fas fa-map-marker-alt"></i>Corrientes 865</div>
			<div class="col-12 col-lg-4"><i class="ico-footer fas fa-map-marked-alt"></i>Firmat - Santa Fe</div>
			<div class="col-12 col-lg-4"><i class="ico-footer fas fa-phone-alt"></i>(3565) 15-591781</div>
		</div>
		<div class="row footer">
			<div class="col-12">Made with <i class="ico-corazon fas fa-heart"></i> by Germán Tano</div>
		</div>

	</footer>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://unpkg.com/@popperjs/core@2.1.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="js/fa-all.min.js"></script>
	<script src="js/navigation.js"></script>
</body>
</html>